.feedback {
    position: relative;
    background-color: $bg-color-light;
    padding-top: 55px;
    padding-bottom: 66px;

    &-slider {
        width: 876px;
        margin: 0 auto;

        img {
            margin: 0 auto;
        }
    }

    &-arrow-prev,
    &-arrow-next {
        position: absolute;
        top: 0;
        height: 100%;
        background-color: transparent;
        border: none;
        z-index: 1;
    }
    &-arrow-prev {
        left: -20px;
    }

    &-arrow-next {
        right: -20px;
    }
}