.offer {
  padding-top: 64px;
  padding-bottom: 69px;
  color: $text-color-light;
  background: url('../img/offer/bg-offer.jpg') center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  &-title {
    font-size: 32px;
    font-weight: 300;
    &_small {
      font-size: 26px;
      display: block;
      margin-top: 16px;
    }
  }
  &-form {
    &__label {
      font-family: 'Roboto_light', sans-serif;
      font-size: 20px;
      display: block;
      margin-bottom: 17px;
    }
    &__input {
      display: block;
      margin: auto;
      margin-bottom: 12px;
      text-align: center;
    }
  }
}